@using Org.BouncyCastle.Asn1.Ocsp;
@using Microsoft.AspNetCore.Http.Extensions;
@using System;

@model List<web.Db.User>
@{
    ViewData["Title"] = "Companies";
    int count = 1;
}

<div class="card">
    <div class="card-header h4">Users of company: @ViewData["companyName"]</div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="align-middle">
                        #
                    </th>
                    <th class="align-middle">
                        State
                    </th>
                    <th class="align-middle">
                        Login
                    </th>
                    <th class="align-middle">
                        Name
                    </th>
                    <th class="align-middle">
                        Surname
                    </th>
                    <th class="align-middle">
                        Phone
                    </th>
                    <th class="align-middle">
                        Birthday
                    </th>
                    
                    <th colspan="3" class="align-middle text-center">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @if (user.deleted)
                            {
                                <span class="text-danger">blocked</span>
                            }
                            else
                            {
                                <span>active</span>
                            }
                        </td>
                        <td>
                            @user.login
                        </td>
                        <td>
                            @user.name
                        </td>
                        <td>
                            @user.surname
                        </td>
                        <td>
                            @if (user.contactPhone?.Length>=11)
                            {
                                <span>+7 (@user.contactPhone.Substring(0, 3)) @user.contactPhone.Substring(3, 3)-@user.contactPhone.Substring(6, 4) </span>
                            }
                            else
                            {
                                <span>@user.contactPhone</span>
                            }
                        </td>
                        <td>
                            @user.dateBirth
                        </td>
                        
                        <td>
                            @if (user.deleted)
                            {
                                @Html.ActionLink("Unblock", "Unblock", new { id = user.companyId, userId = user.id })
                            }
                            else
                            {
                                @Html.ActionLink("Block", "Block", new { id = user.companyId, userId = user.id })
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { userId = user.id })
                        </td>
                        <td>
                            <button type="button" data-id="@user.id" class="open-DelDialog btn btn-outline-danger btn-sm"
                                    data-bs-toggle="modal" data-bs-target="#modal1">
                                Delete
                            </button>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        @Html.ActionLink("Add new user", "AddUser", new { id = Context.Request.Path.ToString().Split("/").Last() })
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="text-center modal-body">
                Delete the user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="startBtn" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>



@section Scripts
    {
    <script>
        $(document).on("click", ".open-DelDialog", function () {
            var userId = $(this).data('id');
            console.log('Del user', userId);
            $("#startBtn").click(function () {
                $("#modal1").modal('hide');
                $.ajax({
                    url: "/UserPage/Delete?userId=" + userId,
                    type: 'GET',
                    success: function (res) {
                        window.location.href = "List";
                    }
                });
            });
        });
    </script>
}